In [1]:
# lOAD DATA
# Este conjunto de datos pertenece a todos los tipos de permisos estructurales desde el 1 de enero de 2013 
#hasta el 25 de febrero de 2018. Los datos incluyen detalles sobre números de solicitud/permiso, direcciones de trabajo, 
#distritos de supervisión y el estado actual de las solicitudes.

# import numpy and pandas

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# read in the San Francisco building permits data
sfPermits = pd.read_csv("C:\CODE\Python\Py_Mineria\Datasets\ETH-USD.csv", sep = ",")

# set seed for reproducibility
np.random.seed(0)

In [2]:
sfPermits.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-01,755.757019,782.530029,742.004028,772.640991,772.640991,2595760128
1,2018-01-02,772.346008,914.830017,772.346008,884.443970,884.443970,5783349760
2,2018-01-03,886.000000,974.471008,868.450989,962.719971,962.719971,5093159936
3,2018-01-04,961.713013,1045.079956,946.085999,980.921997,980.921997,6502859776
4,2018-01-05,975.750000,1075.390015,956.325012,997.719971,997.719971,6683149824

In [3]:
# Shape of data
sfPermits.shape

(2038, 7)

In [4]:
# Calculate total number of cells in dataframe
totalCells = np.product(sfPermits.shape)
totalCells

14266

In [5]:
# Count number of missing values per column
missingCount = sfPermits.isnull().sum()
missingCount

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [6]:
# Calculate total number of missing values
totalMissing = missingCount.sum()
totalMissing

0

In [7]:
# Calculate percentage of missing values
print("The SF Permits dataset contains", round(((totalMissing/totalCells) * 100), 2), "%", "missing values.")

The SF Permits dataset contains 0.0 % missing values.

In [ ]:
# Street Number Suffix and Zipcode from the sf_permits datasets. Both of these contain missing values

missingCount[['Street Number Suffix', 'Zipcode']]

In [13]:
# Percent missing data in:

print("Percent missing data in Street Number Suffix column =", (round(((missingCount['Street Number Suffix'] / sfPermits.shape[0]) * 100), 2)))
print("Percent missing data in Zipcode column =", (round(((missingCount['Zipcode'] / sfPermits.shape[0]) * 100), 2)))

Percent missing data in Street Number Suffix column = 98.89
Percent missing data in Zipcode column = 0.86

In [10]:
# removing all the rows from the sf_permits dataset that contain missing values

sfPermits.dropna()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-01,755.757019,782.530029,742.004028,772.640991,772.640991,2595760128
1,2018-01-02,772.346008,914.830017,772.346008,884.443970,884.443970,5783349760
2,2018-01-03,886.000000,974.471008,868.450989,962.719971,962.719971,5093159936
3,2018-01-04,961.713013,1045.079956,946.085999,980.921997,980.921997,6502859776
4,2018-01-05,975.750000,1075.390015,956.325012,997.719971,997.719971,6683149824
...,...,...,...,...,...,...,...
2033,2023-07-27,1872.086304,1885.591553,1855.321533,1860.357178,1860.357178,4291339248
2034,2023-07-28,1860.702515,1881.457275,1857.048950,1874.744873,1874.744873,3800973336
2035,2023-07-29,1874.560425,1885.529297,1870.333862,1881.068848,1881.068848,2497302218
2036,2023-07-30,1880.871582,1884.144165,1851.728027,1861.643799,1861.643799,4003005547
2037,2023-07-31,1861.755249,1875.629395,1851.915405,1856.162354,1856.162354,4391613314

In [9]:
# removing all the columns with empty values.

sfPermitsCleanCols = sfPermits.dropna(axis=1)
sfPermitsCleanCols.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-01,755.757019,782.530029,742.004028,772.640991,772.640991,2595760128
1,2018-01-02,772.346008,914.830017,772.346008,884.443970,884.443970,5783349760
2,2018-01-03,886.000000,974.471008,868.450989,962.719971,962.719971,5093159936
3,2018-01-04,961.713013,1045.079956,946.085999,980.921997,980.921997,6502859776
4,2018-01-05,975.750000,1075.390015,956.325012,997.719971,997.719971,6683149824

In [11]:
print("Columns in original dataset: %d \n" % sfPermits.shape[1])
print("Columns with na's dropped: %d" % sfPermitsCleanCols.shape[1])

Columns in original dataset: 7

Columns with na's dropped: 7

In [12]:
# replacing all the NaN's in the sf_permit data with the one that comes directly after it and 
#then [replace all the reamining na's with 0]

imputeSfPermits = sfPermits.fillna(method='ffill', axis=0).fillna("0")

imputeSfPermits.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-01,755.757019,782.530029,742.004028,772.640991,772.640991,2595760128
1,2018-01-02,772.346008,914.830017,772.346008,884.443970,884.443970,5783349760
2,2018-01-03,886.000000,974.471008,868.450989,962.719971,962.719971,5093159936
3,2018-01-04,961.713013,1045.079956,946.085999,980.921997,980.921997,6502859776
4,2018-01-05,975.750000,1075.390015,956.325012,997.719971,997.719971,6683149824

In [13]:
# Calculate total number of missing values in sfPermitsCleanCols

missingCount = sfPermitsCleanCols.isnull().sum()
totalMissing = missingCount.sum()
totalMissing

0